<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}         <!--using partial header.hbs-->
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}             <!--using partial footer.hbs-->
    </body>
</html>